       <!-- Page Title -->
        <section class="page-title contact-page style-two centred" style="background-image: url(assets/assetspenguins/images/background/testimonial-1.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Contact</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- contact-info-section -->
        <section class="contact-info-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 info-column">
                            <div class="single-info-box">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="flaticon-location"></i></div>
                                    <h6>Address</h6>
                                    <p>290 Rutherford rd south Brampton ON Canada L6W3K7</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 info-column">
                            <div class="single-info-box">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="flaticon-phone-call"></i></div>
                                    <h6>Quick Contact</h6>
                                    <p>Phone : <a href="tel:4412345678">+1 (905) 965-4542</a><br />Email : <a href="mailto:penguinscleaningservice@gmail.com">penguinscleaningservice@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-info-section -->


        <!-- contact-section -->
        <section class="contact-section sec-pad">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <h6>Contact us</h6>
                    <h2>Send us a message for any questions</h2>
                    <p>Do not hesitate to contact us using the form below.</p>
                </div>
                <div class="form-inner">
                    <form  [formGroup]="ngFormAddContact" (ngSubmit) ="sendContact()"  class="estimate-form"> 
                        <div class="row clearfix">


                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <div class="form-group pos_rel">
                                      <input type="text" id="name" name="name" placeholder="Full name" [(ngModel)]="contact.name"  formControlName="name"
                                    [ngClass]="{ 'is-invalid': submitted && fval2.name.errors }"
                                    class="form-control"
                                    required>
                                      <i class="uil uil-envelope lgn_icon"></i>
                                      <span class="required"></span>
                                      <div *ngIf="submitted && fval2.name.errors" class="invalid-feedback">
                                          <div *ngIf="fval2.name.errors.required" class="errorLabel">
                                       
                                          </div>
                                      </div>
                                  </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                               <div class="form-group pos_rel">
                                  <input type="text" id="organization" name="organization" placeholder="Organization" [(ngModel)]="contact.organization"  formControlName="organization"
                                [ngClass]="{ 'is-invalid': submitted && fval2.organization.errors }"
                                class="form-control"
                                required>
                                  <i class="uil uil-envelope lgn_icon"></i>
                                  <span class="required"></span>
                                  <div *ngIf="submitted && fval2.organization.errors" class="invalid-feedback">
                                      <div *ngIf="fval2.organization.errors.required" class="errorLabel">
                                   
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <div class="form-group pos_rel">
                                    <input type="email" id="email"  name="email" placeholder="Your Email" [(ngModel)]="contact.email"  formControlName="email"
                                  [ngClass]="{ 'is-invalid': submitted && fval2.email.errors }"
                                  class="form-control"
                                  required>
                                  <i class="uil uil-envelope lgn_icon"></i>
                                  <span class="required"></span>
                                  <div *ngIf="submitted && fval2.email.errors" class="invalid-feedback">
                                      <div *ngIf="fval2.email.errors.required" class="errorLabel">
                                      
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <div class="form-group pos_rel">
                                  <input type="text" name="phone" id="phone"  placeholder="Your Phone" [(ngModel)]="contact.phone"  formControlName="phone" class="form-control" 
                                  [ngClass]="{ 'is-invalid': submitted && fval2.phone.errors }"
                                  required>
                                   <i class="uil uil-envelope lgn_icon"></i>
                                  <span class="required"></span>
                                  <div *ngIf="submitted && fval2.phone.errors" class="invalid-feedback">
                                      <div *ngIf="fval2.phone.errors.required" class="errorLabel">                                 
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 form-group">
                                <div class="form-group pos_rel">
                                  <input type="text" name="subject" id="subject"  placeholder="Subject" [(ngModel)]="contact.subject"  formControlName="subject" class="form-control" 
                                  [ngClass]="{ 'is-invalid': submitted && fval2.subject.errors }"
                                  required>
                                  <i class="uil uil-envelope lgn_icon"></i>
                                  <span class="required"></span>
                                  <div *ngIf="submitted && fval2.subject.errors" class="invalid-feedback">
                                      <div *ngIf="fval2.subject.errors.required" class="errorLabel">                                 
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                              <div class="form-group pos_rel">
                                <textarea type="text" id="message" name="message" placeholder="Your message" [(ngModel)]="contact.message"  formControlName="message"
                                [ngClass]="{ 'is-invalid': submitted && fval2.message.errors }" class="form-control"
                                required> </textarea>
                                <i class="uil uil-envelope lgn_icon"></i>
                                <span class="required"></span>
                                <div *ngIf="submitted && fval2.message.errors" class="invalid-feedback">
                                    <div *ngIf="fval2.message.errors.required" class="errorLabel">
                                    </div>
                                </div>
                              </div> 
                            </div>


                          

                       
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn centred">
                                <button class="theme-btn-three thm-btn" type="submit" name="submit-form">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- contact-section end -->