<section class="contact-page" style="padding: 150px 0px 200px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="contact-page__left">
                    <div class="section-title">
                        <span class="section-title__tagline">TAX </span>
                        <h2 class="section-title__title">Solicitud de <br>TAX. </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8">
                <div class="section-title">
                        
                        <h2 class="section-title__title">Solicitud de TAX </h2>
                        <p>Para la solicitud de TAX debe adjuntar en el email los siguientes requisitos</p>
                </div>
                <div class="contact-page__right">
                    <ul>
                        <li>Artículo de organización o una copia de la certificación</li>
                        <li>EIN TAX ID</li>
                        <li>Balance de cuenta bancaria</li>
                        <li>Reporte de facturación </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
