
        <!-- Page Title -->
        <section class="page-title style-two centred" style="background-image: url(assets/assetspenguins/images/background/about-2.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Commercial</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>Services</li>
                        <li>Service Details</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="service-sidebar">
                            <div class="sidebar-widget category-widget">
                                <ul class="category-list clearfix">
                                    <li><a class="current">Gym clean</a></li>
                                    <li><a routerLink="../commercialone">Health and medic centers</a></li>
                                    <li><a routerLink="../commercialtwo">
                                    Post -construction cleaning</a></li>
                                    <li><a routerLink="../commercialthree">Restaurant and bar</a></li>
                                    <li><a routerLink="../commercialfour">Commercial spaces cleaning</a></li>
                                    <li><a routerLink="../commercialfive">Daycares</a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget banner-widget">
                                <div class="widget-content" style="background-image: url(assets/assetspenguins/images/resource/sidebar-banner-1.jpg);">
                                    <div class="shape" style="background-image: url(assets/assetspenguins/images/shape/shape-10.png);"></div>
                                    <div class="content-box">
                                        <div class="icon-box">
                                            <i class="flaticon-cleaning"></i>
                                            <div class="icon-shape" style="background-image: url(assets/assetspenguins/images/icons/star-7.png);"></div>
                                        </div>
                                        <h3>Start Your Service Today Itself...</h3>
                                        <a routerLink="../quote" class="theme-btn-two">Get in Touch</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <figure class="image-box"><img src="assets/assetspenguins/images/service/gym.jpg" alt=""></figure>
                                <h3>GYM CLEANING</h3>
                                <div class="text">
                                    <p>GYM is that place where people go to remain in shape and healthy, that’s why it needs a special attention at the moment to clean all the areas and items what are used by this people.  </p>
                                    <p>We take care to keep clean and disinfected all and each one of this areas and items to make your clients feel sure to come to a place with a healthy environment.</p>
                                    <p>We clean and disinfect locker rooms, training equipment, shower rooms, and more.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->
