     <footer class="footer-style-two" [hidden]="router.url.includes('/checkout') || router.url.includes('/precheck') ">
            <div class="footer-top-two">
                <div class="anim-icon">
                    <div class="icon icon-1 rotate-me" style="background-image: url(assets/assetspenguins/images/icons/anim-icon-1.png);"></div>
                    <div class="icon icon-2 rotate-me" style="background-image: url(assets/assetspenguins/images/icons/anim-icon-2.png);"></div>
                    <div class="icon icon-3 rotate-me" style="background-image: url(assets/assetspenguins/images/icons/anim-icon-3.png);"></div>
                    <div class="icon icon-4 rotate-me" style="background-image: url(assets/assetspenguins/images/icons/anim-icon-4.png);"></div>
                    <div class="icon icon-5"></div>
                    <div class="icon icon-6"></div>
                    <div class="icon icon-7 rotate-me" style="background-image: url(assets/assetspenguins/images/icons/anim-icon-1.png);"></div>
                    <div class="icon icon-8"></div>
                    <div class="icon icon-9 rotate-me" style="background-image: url(assets/assetspenguins/images/icons/anim-icon-3.png);"></div>
                    <div class="icon icon-10 rotate-me" style="background-image: url(assets/assetspenguins/images/icons/anim-icon-1.png);"></div>
                    <div class="icon icon-11 rotate-me" style="background-image: url(assets/assetspenguins/images/icons/anim-icon-4.png);"></div>
                </div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <div class="widget-title">
                                    <h4>Company</h4>
                                </div>
                                <div class="widget-content">
                                    <div class="text">
                                        <p>Penguins Cleaning Service.</p>
                                    </div>
                                    <figure class="footer-logo"><a routerLink="" ><img src="assets/assetspenguins/images/footer-logo.png" alt=""></a></figure>
                                    <div class="copyright"><p>&copy; 2021 Penguinscleaning, All Rights Reserved. By <a href="https://www.buckapi.com" target="_blank"><b>Buckapi</b></a> </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h4>Useful Links</h4>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        
                                        <li><a routerLink="company">About Us</a></li>
                                        <li><a routerLink="contact">Contact</a></li>
                                        <li><a routerLink="prjts">Projects</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h4>Our Services</h4>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a routerLink="commercial">Commercial</a></li>
                                        <li><a routerLink="house">House</a></li>
                                        <li><a routerLink="office">Office</a></li>
                                        <li><a routerLink="events">Events</a></li>
                                        <li><a routerLink="carpet">Carpet cleaning</a></li>
                                        <li><a routerLink="covid">Covid-19</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h4>Get In Touch</h4>
                                </div>
                                <ul class="info clearfix"> 
                                    <li>
                                        <a href="tel:4412345678">+1 (905) 965-4542</a>
                                       
                                    </li>  
                                    <li>
                                        <a href="mailto:penguinscleaningservice@gmail.com">penguinscleaningservice@gmail.com</a>
                                    </li>
                                    <li>290 Rutherford rd south Brampton ON Canada L6W3K7</li>
                                </ul>
                                <ul class="footer-social clearfix">
                                    <li><a href="https://www.facebook.com/Penguins-Cleaning-Service-106602107768271" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/penguinscleaningservice/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-two centred">
                <div class="auto-container">
                    <ul class="footer-nav clearfix">
                        <li><a routerLink="contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </footer>