<div class="all-product-grid"  *ngIf="this._uw.order">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="order-placed-dt">
                    <i class="uil uil-check-circle icon-circle" style="color: #005e53ff;"></i>
                    <h2>Tu orden fue procesada con éxito</h2>
                    <p [hidden]="this._uw.method=='paypal' || this._uw.method=='zelle'  "  >Revisa tu buzón de entrada <span style="font-weight: 600;">  {{ this._uw.order.email }} </span> y sigue las instrucciones de pago
                    </p>
                    <p [hidden]="this._uw.method!='paypal'">Procede con el pago haciendo click aqui: <a href="{{this._uw.info[0].paypaladdress}}" target="_blank">{{this._uw.info[0].paypaladdress}}</a> (Recuerda realizar una captura)</p>
                        <p [hidden]="this._uw.method!='zelle'">Dirección email para el pago Zelle: <a>{{this._uw.info[0].zelleaddress}}</a> (Recuerda realizar una captura)</p>
                    <div class="delivery-address-bg">
                        <div class="title585">
                            <div class="pln-icon"><i class="uil uil-shopping-cart-alt"></i></div>
                            <h4>Datos de tu pedido Nro: {{this._uw.order.npedido}}</h4>
                        </div>
                        <ul class="address-placed-dt1">
                            <li><p><i class="uil uil-map-marker-alt"></i>Dirección:<span> {{this._uw.order.direccion}}</span></p></li>
                            <li><p><i class="uil uil-phone-alt"></i>Teléfono:<span>{{this._uw.order.telefono}}</span></p></li>
                            <li><p><i class="uil uil-money-withdrawal"></i>Método de pago:<span>{{this._uw.order.metodo}}</span></p></li>
                           
                        </ul>
                    <!--     <div class="stay-invoice">
                            <div class="st-hm">Stay Home<i class="uil uil-smile"></i></div>
                            <a href="#" class="invc-link hover-btn">invoice</a>
                        </div>
                        <div class="placed-bottom-dt">
                            The payment of <span>$16</span> you'll make when the deliver arrives with your order.
                        </div>
-->
                        <div class="placed-bottom-dt">
                           Gracias por ordenar en FrutmeSuper! En breve te contactaremos!
                            <span></span>
                            Si lo deseas puedes ponerte en contacto con nosotros a través del  número telefónico  <span>0414 7529202</span>

                            Horarios de entrega - <span>(miércoles a sábado, 8.00AM - 06.00PM)</span>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>