       <section class="page-title style-two centred" style="background-image: url(assets/assetspenguins/images/background/office.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Office Cleaning</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>Services</li>
                        <li>Office Cleaning</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- about-service -->
        <section class="about-service">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-6 col-sm-12 content-column">
                        <div class="content_block_15">
                            <div class="content-box">
                                <div class="sec-title text-center">
                                    <h6>About Service</h6>
                                    <h2>OFFICES AND WORKPLACES CLEANING</h2>
                                </div>
                                <div class="text">
                                    <p>A clean office environment is essential for success, and we are here to help you. A dirty office will neither promote productivity, nor will your clients leave with a very good impression. Atmosphere is important for increasing the efficiency of your employees and helps creates the right impression on potential clients. Our professional office cleaning service can help take your business to the next level; we will take care of those cleaning tasks so that you don’t have to. We offer our services at flexible hours according to your needs; we also offer scheduled cleaning services to ensure your workplace remains clean and hygienic. Contact us so we together can take your business to the next level.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-service end -->

       <!-- related-project -->
        <section class="related-project">
            <div class="auto-container">
                <div class="title-box">
                    <h3>Office cleaning</h3>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                        <div class="project-block-two">
                            <div>
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/project-13.jpg" alt=""></figure>
                                <div class="content-box">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                        <div class="project-block-two">
                            <div>
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/office2.jpg" alt=""></figure>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                        <div class="project-block-two">
                            <div>
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/office1.jpg" alt=""></figure>
                                <div class="content-box">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- related-project end -->