        <!-- Page Title -->
        <section class="page-title style-two centred" style="background-image: url(assets/assetspenguins/images/background/about-2.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>HEALTH AND MEDIC CENTERS</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>Commerial</li>
                        <li>HEALTH AND MEDIC CENTERS</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="service-sidebar">
                            <div class="sidebar-widget category-widget">
                                <ul class="category-list clearfix">
                                    <li><a routerLink="../commercial">Gym clean</a></li>
                                    <li><a   class="../current">Health and medic centers</a></li>
                                    <li><a routerLink="../commercialtwo">
                                    Post -construction cleaning</a></li>
                                    <li><a routerLink="../commercialthree">Restaurant and bar</a></li>
                                    <li><a routerLink="../commercialfour">Commercial spaces cleaning</a></li>
                                    <li><a routerLink="../commercialfive">Daycares</a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget banner-widget">
                                <div class="widget-content" style="background-image: url(assets/assetspenguins/images/resource/sidebar-banner-1.jpg);">
                                    <div class="shape" style="background-image: url(assets/assetspenguins/images/shape/shape-10.png);"></div>
                                    <div class="content-box">
                                        <div class="icon-box">
                                            <i class="flaticon-cleaning"></i>
                                            <div class="icon-shape" style="background-image: url(assets/assetspenguins/images/icons/star-7.png);"></div>
                                        </div>
                                        <h3>Start Your Service Today Itself...</h3>
                                        <a routerLink="../quote" class="theme-btn-two">Get in Touch</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                  <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <figure class="image-box"><img src="assets/assetspenguins/images/service/medical.jpg" alt=""></figure>
                                <h3>HEALTH AND MEDIC CENTERS</h3>
                                <div class="text">
                                    <p>In Penguins Cleaning Service we count on four cleaning steps to get a complete hygiene anywhere in the hospital/clinic:</p>
                                    
                                </div>
                            </div>
                            <div class="content-two">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-6 col-sm-12 inner-column">
                                        <div class="inner-box">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="flaticon-office-building"></i></div>
                                                <h4>1. Cleaning:</h4>
                                                <p>Through the cleaning process it’s possible to eliminate all of the impurities and pick up the dirt what can there be on surfaces. We use basic products that remove any kind of dirt. This is our first step, but it is not enough to end with all of the germs and bacteria.</p>
                                            </div>
                                            <div class="single-item">
                                                <div class="icon-box"><i class="flaticon-workplace"></i></div>
                                                <h4>2.Disinfection:</h4>
                                                <p>In this step, we destroy the microorganisms what are able to spread through the surfaces, by using specific chemical products to reduce its virulence.
                                                    <br>
                                                    <br>
                                                </p>
                                            </div>
                                            <div class="inner-box">
                                                <div class="single-item">
                                                    <div class="icon-box"><i class="flaticon-office-building"></i></div>
                                                    <h4>3. Sanitization:</h4>
                                                    <p>We sanitize all the surfaces as a third step to you feel safe of be in a place where all of the hygiene requirements are accomplished.</p>
                                                </div>
                                                <div class="single-item">
                                                    <div class="icon-box"><i class="flaticon-workplace"></i></div>
                                                    <h4>4.Sterilization:</h4>
                                                    <p>Our final step is to get a total and permanent destruction and elimination of microbial life. By using disinfectant substances, we get to remove all of the microorganisms.</p>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->
