
        <!-- project-details -->
        <section class="project-details">
            <div class="auto-container">
                <div class="project-details-content">
                    <div class="two-column">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/office-1.jpg" alt=""></figure>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                                <div class="content-box">
                                    <h4>Cleaning and renovation of Office</h4>
                                    <div class="inner-box clearfix">
                                        <div class="left-column">
                                            
                                            <div class="single-box">
                                                <h6>Category:</h6>
                                                <p>Commercial Cleaning</p>
                                            </div>
                                            <div class="single-box">
                                                <h6>Rating:</h6>
                                                <ul class="rating">
                                                   <li><i class="fas fa-star"></i></li> 
                                                   <li><i class="fas fa-star"></i></li> 
                                                   <li><i class="fas fa-star"></i></li> 
                                                   <li><i class="fas fa-star"></i></li> 
                                                   <li><i class="fas fa-star"></i></li> 
                                                </ul>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/office-12.jpg" alt=""></figure>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- project-details end -->
        

        <!-- shop-details -->
         <section class="shop-details" style="background: #eceff6;">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <h6>Commercial Cleaning service</h6>
                    <h2>Cleaning and renovation of Office</h2>
                </div>
                <div class="product-details-content">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="slider-inner">
                                <div class="bxslider">
                                    <div class="slider-content">
                                        <div class="slider-pager">
                                            <ul class="thumb-box">
                                                <li>
                                                    <a class="active" data-slide-index="0" href="shop-details.html#"><figure><img src="assets/assetspenguins/images/gallery/renovacion3/thumb-1.jpg" alt=""></figure></a>
                                                </li>
                                                <li>
                                                    <a data-slide-index="1" href="shop-details.html#"><figure><img src="assets/assetspenguins/images/gallery/renovacion3/thumb-2.jpg" alt=""></figure></a>
                                                </li>
                                                <li>
                                                    <a data-slide-index="1" href="shop-details.html#"><figure><img src="assets/assetspenguins/images/gallery/renovacion3/thumb-3.jpg" alt=""></figure></a>
                                                </li>
                                                <li>
                                                    <a data-slide-index="2" href="shop-details.html#"><figure><img src="assets/assetspenguins/images/gallery/renovacion3/thumb-4.jpg" alt=""></figure></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product-image">
                                            <figure class="image">
                                                <a href="assets/assetspenguins/images/gallery/renovacion3/single-1-1.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images/gallery/renovacion3/single-1-1.jpg" alt=""></a>
                                            </figure>
                                        </div>
                                    </div>
                                     <div class="slider-content">
                                       
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-1.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images/gallery/renovacion3/single-1.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                       
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-2.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-2.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-3.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-3.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-4.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-4.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-5.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-5.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-6.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-6.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-7.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-7.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-8.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-8.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-9.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-9.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-10.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-10.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-11.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-11.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-12.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-12.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                     <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-13.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-13.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-14.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-14.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-15.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-15.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-16.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-16.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion3/single-17.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion3/single-17.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="product-details">
                                
                                 <div class="text" align="justify">
                                    <p>At Penguins Cleaning we know how important your workplace is, that is why we use the best materials for cleaning your office, we can change your workspace, We also make sure you office space is Smiling fresh,  We know how important is it for your employees for a clean and safe the environment is 
                                    we have the best quality and price and our clients are always happy with our services. Contact us now.</p>
                                </div>
                            </div>
                            <div class="btn-box" align="center">
                                <a routerLink="../projectthree" class="theme-btn-four thm-btn">Back</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </section>
        <!-- shop-details end -->