      <!-- project-style-two -->
        <section class="project-style-two sec-pad-2">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/project-home3.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="link"><a routerLink="../projectone"><i class="fal fa-long-arrow-right"></i></a></div>
                                    <h4><a routerLink="../projectone">
                                    House cleaning and renovation 1</a></h4>
                                    <h6>Deep cleaning service</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/project-home1.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="link"><a routerLink="../projecttwo"><i class="fal fa-long-arrow-right"></i></a></div>
                                    <h4><a routerLink="../projecttwo">
                                    House cleaning and renovation 2</a></h4>
                                    <h6>Deep cleaning service</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/project-home2.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="link"><a routerLink="../projectthree"><i class="fal fa-long-arrow-right"></i></a></div>
                                    <h4><a routerLink="../projectthree">House cleaning and renovation 3</a></h4>
                                    <h6>Deep cleaning service</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                        <div class="project-block-two">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/project-office.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="link"><a routerLink="../projectfour"><i class="fal fa-long-arrow-right"></i></a></div>
                                    <h4><a routerLink="../projectfour">
                                    Office cleaning and renovation</a></h4>
                                    <h6>Commercial</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                 
                </div>
            </div>
        </section>
        <!-- project-style-two end -->
