    <!-- Page Title -->
        <section class="page-title style-two centred" style="background-image: url(assets/assetspenguins/images/background/service-1.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Covid-19</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>Services</li>
                        <li>Covid-19</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- about-service -->
        <section class="about-service">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-6 col-sm-12 content-column">
                        <div class="content_block_15">
                            <div class="content-box">
                                <div class="sec-title text-center">
                                    <h6>About Service</h6>
                                    <h2>Special sanitization due to COVID-19</h2>
                                </div>
                                <div class="text">
                                    <p>What do we use to help reduce the COVID-19 spread? We use Vital Oxide, is EPA registered hospital disinfectant cleaner, food surface sanitizer, mold killer, and heavy-duty odor eliminator. Effective on a broad-spectrum of virus, and bacteria, including super bugs like MRSA and H1N1, Vital Oxide breaks down to simple salt and produces no harmful by-products and kills 99.999% Bacteria & Viruses in less than 60 seconds. EPA has approved it too for use against SARS-COV-2, the virus that cause COVID-19.</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- about-service end -->