
<section class="booking-section">
    <div class="outer-container clearfix">
        <div class="single-column">
            <div class="content_block_5">
                <div class="content-box" style="background-image: url(assets/assetspenguins/images/resource/column-bg.jpg);">
                    <div class="shape" style="background-image: url(assets/assetspenguins/images/shape/shape-6.png);"></div>
                    <h2>How to get a  <br/>real-time quote <br/>with our calculator<br/> </h2>
     
                    <ul class="list-item clearfix" style="margin-bottom:60px;">
                        <li>Answer our questionnaire to know <br/>more about yourself</li>
                        <li>Select type of service <br/>that you require</li>
                        <li>Select number  <br/>of <b>hours</b> per day, <br/>number of <b>cleaners</b>,<br/> and <b>days</b> per <br/>month that you <br/>request the service </li>
                        <li>Get a real-time quote</li>
                        <li>Remember recurring services  <br/> get a discount</li>
                    </ul>
                    <div>
                        <a  href="https://wa.me/+19059654542?text=Hi,%20am%20require%20your%20cleaning%20services"target="_blank" title="Talk by Whatsapp!" >
                            <div class="support-box" > 
                                <h6>
                                    Contact Us for more information 
                                    <br/>+1 (905) 965-4542
                                    <i class="flaticon-telephone"></i>
                                </h6> 
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-column" >
            <div class="content_block_6">
              <div class="content-box">
                    <div class="bg-layer" style="background-image: url(assets/assetspenguins/images/shape/shape-4.png);"></div>
                    <div class="sec-title text-left"  [hidden]="submitted">
                        <h6>Cost Calculator</h6>
                        <h2>Get a real-time quote</h2>
                         
                    </div>
                     <div class="sec-title text-left" [hidden]="!submitted">
                        <h6>Your Quote Estimation Amount is:</h6>
                        <h2> {{_uw.order.amount }} $CAD + HST  </h2>

                    </div>
                    <form  [formGroup]="ngFormAddOrder" (ngSubmit) ="okOrder()"  class="estimate-form">
                        <div class="inner-box">
                            <div class="form-group pos_rel">
                                <input type="text" id="name" name="name" placeholder="Your Name" [(ngModel)]="order.name"  formControlName="name"
                              [ngClass]="{ 'is-invalid': submitted && fval2.name.errors }"
                              class="form-control"
                              required>
                                <i class="uil uil-envelope lgn_icon"></i>
                                <span class="required"></span>
                                <div *ngIf="submitted && fval2.name.errors" class="invalid-feedback">
                                    <div *ngIf="fval2.name.errors.required" class="errorLabel">
                                 
                                    </div>
                                </div>
                            </div>

                            <div class="form-group pos_rel">
                                <input type="email" id="email"  name="email" placeholder="Your Email" [(ngModel)]="order.email"  formControlName="email"
                              [ngClass]="{ 'is-invalid': submitted && fval2.email.errors }"
                              class="form-control"
                              required>
                            <i class="uil uil-envelope lgn_icon"></i>
                              <span class="required"></span>
                              <div *ngIf="submitted && fval2.email.errors" class="invalid-feedback">
                                  <div *ngIf="fval2.email.errors.required" class="errorLabel">
                                  
                                  </div>
                              </div>
                            </div>
                            <div class="form-group pos_rel">
                                <input type="text" name="phone" id="phone"  placeholder="Your Phone" [(ngModel)]="order.phone"  formControlName="phone" class="form-control" 
                              [ngClass]="{ 'is-invalid': submitted && fval2.phone.errors }"
                              required>
                              <i class="uil uil-envelope lgn_icon"></i>
                                <span class="required"></span>
                                <div *ngIf="submitted && fval2.phone.errors" class="invalid-feedback">
                                    <div *ngIf="fval2.phone.errors.required" class="errorLabel">                                 
                                    </div>
                                </div>
                            </div>
                         

                            <div class="form-group pos_rel">
                                <input type="text" id="address" name="address" placeholder="Your Address" [(ngModel)]="order.address"  formControlName="address"
                              [ngClass]="{ 'is-invalid': submitted && fval2.address.errors }" class="form-control"
                              required>
                              <i class="uil uil-envelope lgn_icon"></i>
                                <span class="required"></span>
                                <div *ngIf="submitted && fval2.address.errors" class="invalid-feedback">
                                    <div *ngIf="fval2.address.errors.required" class="errorLabel">
                                    </div>
                                </div>
                            </div>
                             
                            

                            <div class="form-group pos_rel" >   
<!--  {{this.serviceSelected}}
 <select class="wide">  

        
                                           <option  *ngFor="let item  of serviceOptions2;let i = index"  (click)="setType(item,i)" >
                                           
                                            <span >
                                           {{item.name}}
                                           </span>
                                              
                                       </option>
 
                                         
                                        </select> -->


                                <div class="dropdown">
                                    <button class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  position: relative; display: inline-block;   font-size: 14px;  line-height: 24px;  font-weight: 600;  color: #0a267a;  text-transform: uppercase;  background: #ffffff;  padding: 16px 34px;  border-radius: 5px;  transition: all 500ms ease;  border: 0px solid #0a267a;  ">
                                        <i class="flaticon-check-mark"  [hidden]="!typeSeted"></i>
                                        {{this.serviceSelected}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" *ngFor="let item  of serviceOptions2;let i = index" (click)="setType(item,i)"  style="cursor: pointer !important;">{{item.name}}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group pos_rel" [hidden]="!houseSelected">
                                <div class="dropdown" >
                                    <button class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  position: relative; display: inline-block;   font-size: 14px;  line-height: 24px;  font-weight: 600;  color: #0a267a;  text-transform: uppercase;  background: #ffffff;  padding: 16px 34px;  border-radius: 5px;  transition: all 500ms ease;  border: 0px solid #0a267a;  ">
                                          <i class="flaticon-check-mark"  [hidden]="!sizeSeted"></i>
                                        Size: {{this.houseSize}}
                                    </button>   
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" (click)="setSize('Basic')"  style="cursor: pointer !important;"> Basic</a>
                                        <a class="dropdown-item" (click)="setSize('Medium')"  style="cursor: pointer !important;"> Medium</a>  
                                        <a class="dropdown-item" (click)="setSize('Premium')"  style="cursor: pointer !important;">Premium</a>  
                                    </div>
                                </div>
                            </div>


                            <div class="form-group pos_rel" [hidden]="!selected  || houseSelected || healtSelected  ">
                                <div class="dropdown" >
                                    <button class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  position: relative; display: inline-block;   font-size: 14px;  line-height: 24px;  font-weight: 600;  color: #0a267a;  text-transform: uppercase;  background: #ffffff;  padding: 16px 34px;  border-radius: 5px;  transition: all 500ms ease;  border: 0px solid #0a267a;  ">
                                         <i class="flaticon-check-mark"  [hidden]="!subserviceSeted"></i>
                                        {{this.subservice}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" *ngFor="let item  of subservices;let i = index" (click)="setSubservice(item)"  style="cursor: pointer !important;">{{item}}</a>
                                    </div>
                                </div>
                            </div>


                    
                             <div class="form-group pos_rel"  [hidden]="houseSelected || !selected" >
                                  <span style="color: #0a267a; font-size: 12px;">
                                  <i class="flaticon-check-mark"  [hidden]="!this.daysSeted"></i>
                              </span>
                                  <span style=" font-size: 12px;">
                                      
                                  {{this.msDays}}:  
                                  </span>
                                <a class="remove-btn" style="border-radius: 30px; cursor: pointer;" (click)="minusDays()">
                                    <span class="fas fa-minus"></span>
                                </a>
                                <span style="color: #0a267a;">
                               {{this.daysPerMonth}}   
                                </span>
                                <a (click)="plusDays()" class="remove-btn" style="border-radius: 30px; cursor: pointer;">
                                    <span class="fas fa-plus"></span>
                                </a>
                            </div>  

                            <div class="form-group pos_rel"  [hidden]="houseSelected || !selected" >
                                <span style="color: #0a267a; font-size: 12px;">
                                  <i class="flaticon-check-mark"  [hidden]="!this.hoursSeted"></i></span>
                                <span style=" font-size: 12px;">
                                  {{this.mshours}}:  
                                </span>

                                <a class="remove-btn" style="border-radius: 30px; cursor: pointer;" (click)="minusHours()">
                                    <span class="fas fa-minus"></span>
                                </a>
                                <span style="color: #0a267a;">
                               {{this.hoursPerDay}}   
                           </span>
                                <a (click)="plusHours()" class="remove-btn" style="border-radius: 30px; cursor: pointer;">
                                    <span class="fas fa-plus"></span>
                                </a>
                            </div>
                     

                             <div class="form-group pos_rel"  [hidden]="houseSelected || !selected" >
                                <span style="color: #0a267a; font-size: 12px;">
                                  <i class="flaticon-check-mark"  [hidden]="!this.cleanersSeted"></i>
                                </span>
                                <span style=" font-size: 12px;">
                                  {{this.mscleaners}}:  
                                </span>
                                <a class="remove-btn" style="border-radius: 30px; cursor: pointer;" (click)="minusCleaners()">
                                    <span class="fas fa-minus"></span>
                                </a>
                                <span style="color: #0a267a;">
                               {{this.ncleaners}}   
                                </span>
                                <a (click)="plusCleaners()" class="remove-btn" style="border-radius: 30px; cursor: pointer;">
                                    <span class="fas fa-plus"></span>
                                </a>
                            </div>

                            <div class="form-group pos_rel"   [hidden]="!_uw.order.amount" >
                                <h5 style="text-align: right;"> Total: 
                                  <span style="font-weight: 100;">   {{_uw.order.amount }} </span> $CAD + HST  
                                </h5>                                 
                            </div>

                            <div class="field-input">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control material-checkbox">
                                        <input type="checkbox" class="material-control-input">
                                        <span class="material-control-indicator" style="position: initial;"></span>
                                        <span class="description"><a href="assets/assetspenguins/images/service/termsCond.pdf" target="_blanck" style="color: grey;">Terms and Conditions</a> </span>
                                    </label>
                                </div>
                            </div>
                            <div class="message-btn" [hidden]="quoteSubmitted && !_uw.errorFormSendOrder || houseSelected " >
                                <button type="submit" (click)="setQuote()">Get a quote</button>
                            </div>
                              <div class="message-btn" [hidden]="appointmentSubmitted  || !houseSelected " >
                                <button type="submit" (click)="setAppointment()">Get an appointment
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>







