        <!-- project-details -->
        <section class="project-details">
            <div class="auto-container">
                <div class="project-details-content">
                    <div class="two-column">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/house-3.jpg" alt=""></figure>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                                <div class="content-box">
                                    <h4>House cleaning and renovation</h4>
                                    <div class="inner-box clearfix">
                                        <div class="left-column">
                                            
                                            <div class="single-box">
                                                <h6>Category:</h6>
                                                <p>Deep cleaning service</p>
                                            </div>
                                            <div class="single-box">
                                                <h6>Rating:</h6>
                                                <ul class="rating">
                                                   <li><i class="fas fa-star"></i></li> 
                                                   <li><i class="fas fa-star"></i></li> 
                                                   <li><i class="fas fa-star"></i></li> 
                                                   <li><i class="fas fa-star"></i></li> 
                                                   <li><i class="fas fa-star"></i></li> 
                                                </ul>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                                <figure class="image-box"><img src="assets/assetspenguins/images/gallery/house-31.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- project-details end -->
        

        <!-- shop-details -->
        <section class="shop-details" style="background: #eceff6;">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <h6>Deep cleaning service</h6>
                    <h2>Cleaning and renovation of house</h2>
                </div>
                <div class="product-details-content">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="slider-inner">
                                <div class="bxslider">
                                    <div class="slider-content">
                                        <div class="slider-pager">
                                            <ul class="thumb-box">
                                                <li>
                                                    <a class="active" data-slide-index="0" href="shop-details.html#"><figure><img src="assets/assetspenguins/images/gallery/renovacion2/thumb-1.jpg" alt=""></figure></a>
                                                </li>
                                                <li>
                                                    <a data-slide-index="1" href="shop-details.html#"><figure><img src="assets/assetspenguins/images/gallery/renovacion2/thumb-2.jpg" alt=""></figure></a>
                                                </li>
                                                <li>
                                                    <a data-slide-index="1" href="shop-details.html#"><figure><img src="assets/assetspenguins/images/gallery/renovacion2/thumb-3.jpg" alt=""></figure></a>
                                                </li>
                                                <li>
                                                    <a data-slide-index="2" href="shop-details.html#"><figure><img src="assets/assetspenguins/images/gallery/renovacion2/thumb-4.jpg" alt=""></figure></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product-image">
                                            <figure class="image">
                                                <a href="assets/assetspenguins/images/gallery/renovacion4/single-1-1.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images/gallery/renovacion4/single-1-1.jpg" alt=""></a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                            <figure class="image">
                                                <a href="assets/assetspenguins/images/gallery/renovacion4/single-1.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images/gallery/renovacion4/single-1.jpg" alt=""></a>
                                            </figure>
                                        </div>
                                    <div class="slider-content">
                                       
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-7.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-7.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-8.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-8.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-3.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-3.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-4.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-4.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-5.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-5.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-6.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-6.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-9.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-9.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-10.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-10.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-11.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-11.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-12.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-12.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                    <div class="slider-content">
                                        
                                        <div class="product-image">
                                            <figure class="image"><a href="assets/assetspenguins/images/gallery/renovacion4/single-13.jpg" class="lightbox-image" data-fancybox="gallery"><img src="assets/assetspenguins/images//gallery/renovacion4/single-13.jpg" alt=""></a></figure>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="product-details">
                                
                                 <div class="text" align="justify">
                                    <p>We can help you renovate your house, deep cleaning service, remove dirt from windows, bathrooms, clean your kitchen from stove to refrigerator and much more. Deep cleaning service is for those people who want to do a detailed cleaning, after some renovations, then you can sell your house faster. contact us now to receive a quote, we have the best prices and recommendations from other clients.</p>
                                </div>
                            </div>
                            <div class="btn-box" align="center">
                                <a routerLink="../projecttwo" class="theme-btn-four thm-btn">Nex</a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </section>
        <!-- shop-details end -->
