        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/assetspenguins/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Our Company</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>About</li>
                        <li>Company</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- feature-style-two -->
        <section class="feature-style-two sec-pad">
            <div class="auto-container">
                <div class="upper-content">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 title-column">
                            <div class="sec-title text-center">
                                <h6>Who we Are</h6>
                                <h2>Trust & Quality Cleaning Service Provider</h2>
                                <p align="justify">In Penguins Cleaning Service we do that cleaning tasks that can take a considerable part of your valued time. We do those tasks for you so you can spend your time doing the activities you really like. Once you require our services you can have the certainty and security that we will do the cleaning task for you. Contact us and leave it in our hands all those cleaning tasks.
                                We service facilities in numerous sectors, such as commercial, industrial, educational, medical, construction.</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="inner-container clearfix">
                    <div class="single-column">
                        <figure class="image-box"><img src="assets/assetspenguins/images/resource/feature-1.jpg" alt=""></figure>
                    </div>
                    <div class="single-column">
                        <div class="review-box bg-color-2">
                            <div class="icon-box"><i class="flaticon-quote"></i></div>
                            <div class="text">
                                <p>Penguins Clean is <br />a local cleaning company in Greater Toronto Area.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="single-column">
                        <div class="inner-box bg-color-1">
                            <div class="shape" style="background-image: url(assets/assetspenguins/images/icons/star-6.png);"></div>
                            <h3>Why choose us?</h3>
                            <p>At Penguins cleaning service we care about giving our clients the best cleaning service</p>
                            <ul class="list clearfix">
                                <li>Best prices</li>
                                <li>Best quality</li>
                                <li>Trained employees</li>
                                <li>100% reliability</li>
                                <li>100% puntuality</li>
                                <li>100% satisfaction</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature-style-two end -->
       <!-- chooseus-section -->
        <section class="chooseus-section sec-pad">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <h6>chooseus-section</h6>
                    <h2>Unrivalled Cleaning Experience</h2>
                </div>
                <div class="tabs-box">
                    <div class="tab-btn-box centred">
                        <ul class="tab-btns-one tab-buttons clearfix">
                            <li class="tab-btn active-btn" data-tab="#tab-1">
                                <div class="icon-box"><i class="flaticon-save-the-world"></i></div>
                                <h5>House cleaning</h5>
                            </li>
                            <li class="tab-btn" data-tab="#tab-2">
                                <div class="icon-box"><i class="flaticon-life-insurance"></i></div>
                                <h5>Office and workplaces cleaning</h5>
                            </li>
                            <li class="tab-btn" data-tab="#tab-3">
                                <div class="icon-box"><i class="flaticon-calculator"></i></div>
                                <h5>Cleaning of the event venue</h5>
                            </li>
                        </ul>
                        <ul class="tab-btns-two tab-buttons clearfix">
                            <li class="tab-btn" data-tab="#tab-4">
                                <div class="icon-box"><i class="flaticon-man"></i></div>
                                <h5>Commercial cleaning</h5>
                            </li>
                            <li class="tab-btn" data-tab="#tab-5">
                                <div class="icon-box"><i class="flaticon-location-1"></i></div>
                                <h5>Carpets cleaning.</h5>
                            </li>
                            <li class="tab-btn" data-tab="#tab-6">
                                <div class="icon-box"><i class="flaticon-rating"></i></div>
                                <h5>Special sanitization due to COVID-19</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="tabs-inner">
                                <figure class="image-box"><img src="assets/assetspenguins/images/resource/choose-1.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3>HOUSE CLEANING</h3>
                                    <p>We offer several packages according to your specific and detailed needs. We are able to clean each place of your house that you need to make you feel sure you are living in a healthy and clean environment. Remove that stress from your life and contact us to provide you the better and most effective cleaning services to your favorite place.
                                    <li>DETAILED CLEANING</li>
                                    <li>MOVE OUT / MOVE IN CLEANING</li>
                                    <li>CLEANING DUE TO COVID-19</li> </p>
                                   <a routerLink="../house">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-2">
                            <div class="tabs-inner">
                                <figure class="image-box"><img src="assets/assetspenguins/images/resource/choose-1.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3>OFFICES AND WORKPLACES CLEANING</h3>
                                    <p>Our professional office cleaning service can help take your business to the next level; we will take care of those cleaning tasks so that you don’t have to. We offer our services at flexible hours according to your needs; we also offer scheduled cleaning services to ensure your workplace remains clean and hygienic. Contact us so we together can take your business to the next level.</p>
                                    <a routerLink="../office">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-3">
                            <div class="tabs-inner">
                                <figure class="image-box"><img src="assets/assetspenguins/images/resource/choose-1.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3>CLEANING OF THE EVENT VENUE</h3>
                                    <p>
                                        <li><strong>Before event: </strong>  We take care of cleaning the venue, before the event starts </li> 
                                        <li><strong>During event:</strong> We are able to clean any unexpected, always can happen.</li>
                                        <li><strong>After event:</strong> When the event ends, we are ready to clean and tidy the venue, to leave it in perfect conditions.</li> 
                                    </p>
                                    <a routerLink="../events">Read More</a>   
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-4">
                            <div class="tabs-inner">
                                <figure class="image-box"><img src="assets/assetspenguins/images/resource/choose-1.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3>Commercial cleaning</h3>
                                    <p>
                                    <li>Gym cleaning</li>
                                    <li>Health and Medic Centers</li>
                                    <li>Post-Construction Cleaning</li>
                                    <li>Restaurant and bar</li>
                                    <li>Commercial spaces cleaning</li>
                                    <li>Daycares</li>
                                    </p>
                                   <a routerLink="../commercial">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-5">
                            <div class="tabs-inner">
                                <figure class="image-box"><img src="assets/assetspenguins/images/resource/choose-1.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3>Carpets cleaning.</h3>
                                    <p>Restrooms, showers and dressing rooms cleaning</p>
                                    <a routerLink="../carpet">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-6">
                            <div class="tabs-inner">
                                <figure class="image-box"><img src="assets/assetspenguins/images/resource/choose-1.jpg" alt=""></figure>
                                <div class="content-box">
                                    <h3>Special sanitization due to COVID-19</h3>
                                    <p>Denounce with righteous indignation and dislike men who are  beguiled works and demoralized by the charms of pleasure.</p>
                                    <a routerLink="../covid">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- chooseus-section end -->