<table class="xunk-calendar">

    <!-- Header for changing month -->
    <tr *ngIf="showHeader">
        <!-- Previous month button -->
        <th>
            <button mat-icon-button (click)="changeMonth(-1)">
                <mat-icon class="ti ti-angle-left"></mat-icon>
            </button>
        </th>

        <!-- Month label -->
        <th colspan=5 class="text-center"><span >{{monthNames[openPage.month]}} {{openPage.year}}</span></th>

        <!-- Next month button -->
        <th>
            <button mat-icon-button (click)="changeMonth(1)">
                <mat-icon class="ti ti-angle-right" ></mat-icon>
            </button>
        </th>
    </tr>

    <!-- Weekday headers -->
    <tr class="weekday">
        <th>L</th>
        <th>M</th>
        <th>M</th>
        <th>J</th>
        <th>V</th>
        <th>S</th>
        <th>D</th>
    </tr>

    <!-- The real calendar -->
    <tr *ngFor="let row of calendar">
        <td class="xunk-calendar-cell" *ngFor="let col of row">
            <button mat-icon-button
                    *ngIf="col" class="xunk-calendar-day"
                    [style.backgroundColor]="getHM(col)"
                    [style.color]="getForeground(col)"
                    (click)="selectDay(col)">
                <span [style.fontWeight]="isToday(col) ? 'bold' : null">{{col}}</span>
            </button>
        </td>
    </tr>
</table>
