   <!-- main header -->

        <header class="main-header style-five">
                    <div class="page-header-mobile-info">
                        <div class="page-header-mobile-info-content">
                            <!-- header-top -->
                            <div class="header-top-two">
                                <div class="auto-container">
                                    <div class="top-inner clearfix">
                                        <ul class="info pull-left clearfix">
                                            <li><i class="flaticon-telephone"></i>Toronto - Canada.</li>
                                            <li>
                                                
                                                <a href="tel:9059654542">+1 905-965-4542
                                                </a>
                                            </li>
                                            
                                            <li><i class="flaticon-email"></i><a href="mailto:penguinscleaningservice@gmail.com
                                            ">penguinscleaningservice@gmail.com
                                            </a></li>
                                        </ul>
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- header-upper -->
                            <div class="header-upper">
                                <div class="auto-container">
                                    <div class="upper-inner clearfix">
                                        <div class="logo-box pull-left">
                                            <figure class="logo"><a routerLink=""><img src="assets/assetspenguins/images/logo.png" alt=""></a></figure>
                                        </div>
                                        <div class="right-column pull-right">
                                            <ul class="info-list clearfix">
                                                <li>
                                                    <div class="shape" style="background-image: url(assets/assetspenguins/images/icons/star-8.png);"></div>
                                                    <i class="flaticon-location"></i>
                                                    <h6>Location</h6>
                                                    <h5>Toronto, Canada.</h5>
                                                </li>
                                                <li>
                                                    <div class="shape" style="background-image: url(assets/assetspenguins/images/icons/star-8.png);"></div>
                                                    <i class="flaticon-circular-clock"></i>
                                                    <h6>Off. Hours</h6>
                                                    <h5>9.00  to 7.00</h5>
                                                </li>
                                                <li class="btn-box">
                                                    <a routerLink="quote" class="theme-btn-four thm-btn">Request a Quote</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-box clearfix">
                            <div class="page-header-mobile-info-toggle"></div>
                            <div class="btn-box" [hidden]="router.url.includes('/checkout') ">
                                <a routerLink="quote"  class="theme-btn-four thm-btn">Request a Quote</a>
                            </div>
                        </div>
                    </div>
                    <!-- header-top -->
                    <div class="header-top-two auto-hidden">
                        <div class="auto-container">
                            <div class="top-inner clearfix">
                                <ul class="info pull-left clearfix">
                                    <li><i class="flaticon-telephone"></i>For Enquiries <a href="tel:+19059654542">+1 (905) 965-4542</a></li>
                                    <li><i class="flaticon-email"></i><a href="mailto:penguinscleaningservice@gmail.com">penguinscleaningservice@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- header-upper -->
                    <div class="header-upper auto-hidden">
                        <div class="auto-container">
                            <div class="upper-inner clearfix">
                                <div class="logo-box pull-left">
                                    <figure class="logo"><a routerLink=""><img src="assets/assetspenguins/images/logo.png" alt=""></a></figure>
                                </div>
                                <div class="right-column pull-right">
                                    <ul class="info-list clearfix">
                                        <li>
                                            <div class="shape" style="background-image: url(assets/assetspenguins/images/icons/star-8.png);"></div>
                                            <i class="flaticon-location"></i>
                                            <h6>Location</h6>
                                            <h5>Toronto, Canada.</h5>
                                        </li>
                                        <li>
                                            <div class="shape" style="background-image: url(assets/assetspenguins/images/icons/star-8.png);"></div>
                                            <i class="flaticon-circular-clock"></i>
                                            <h6>Off. Hours</h6>
                                            <h5>9.00  to 7.00</h5>
                                        </li>
                                        <li class="btn-box">
                                            <a routerLink="quote"  class="theme-btn-four thm-btn">Request a Quote</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

        </header>
 