  <!-- Page Title -->
        <section class="page-title style-two centred" style="background-image: url(assets/assetspenguins/images/background/about-2.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Commercial Cleaning</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>Services</li>
                        <li>RESTAURANT AND BAR</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="service-sidebar">
                            <div class="sidebar-widget category-widget">
                                <ul class="category-list clearfix">
                                    <li><a routerLink="../commercial">Gym clean</a></li>
                                    <li><a routerLink="../commercialone">Health and medic centers</a></li>
                                    <li><a routerLink="../commercialtwo">
                                    Post -construction cleaning</a></li>
                                    <li><a  class="current">Restaurant and bar</a></li>
                                    <li><a routerLink="../commercialfour">Commercial spaces cleaning</a></li>
                                    <li><a routerLink="../commercialfive">Daycares</a></li>
                                </ul>
                            </div>
                            <div class="sidebar-widget banner-widget">
                                <div class="widget-content" style="background-image: url(assets/assetspenguins/images/resource/sidebar-banner-1.jpg);">
                                    <div class="shape" style="background-image: url(assets/assetspenguins/images/shape/shape-10.png);"></div>
                                    <div class="content-box">
                                        <div class="icon-box">
                                            <i class="flaticon-cleaning"></i>
                                            <div class="icon-shape" style="background-image: url(assets/assetspenguins/images/icons/star-7.png);"></div>
                                        </div>
                                        <h3>Start Your Service Today Itself...</h3>
                                        <a routerLink="../quote" class="theme-btn-two">Get in Touch</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                  <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <figure class="image-box"><img src="assets/assetspenguins/images/service/restaurant.jpg" alt=""></figure>
                                <h3>RESTAURANT AND BAR</h3>
                                <div class="text">
                                    <p>In Penguins Cleaning Service we offer you a restaurant/bar complete cleaning service. We take care of eliminate dirt and accumulated grease in extractor hoods, walls, roofs, preparation surfaces and in any corner of your establishment. We take care of eliminate bad smells and make an excellent deep disinfection as well, by using the best products for any task.</p>
                                    
                                </div>
                            </div>
                            <div class="content-two">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-6 col-sm-12 inner-column">
                                        <div class="inner-box">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="flaticon-office-building"></i></div>
                                                <h4>Kitchen</h4>
                                                <p> In kitchen cleaning, we make sure that all of your utensils, machines, and hidden spaces are cleaned daily, because of the bacterial spread can start in places you don’t even figure out, and it can reach the meals creating an unhealthy environment</p>
                                            </div>
                                            <div class="single-item">
                                                <div class="icon-box"><i class="flaticon-workplace"></i></div>
                                                <h4>Main entrance</h4>
                                                <p>Main entrance is your presentation letter, that’s why we can take care of keep clean, tidy and in perfect conditions your entrance spaces. Once inside the restaurant/bar, the dining tables area must be always impeccable cause floor, doors, walls, roofs and furniture, play an important role in the success of your restaurant/bar. Feel sure that our team will leave your stay impeccable and tidy.
                                                   
                                                </p>
                                            </div>
                                            <div class="inner-box">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="flaticon-office-building"></i></div>
                                                <h4>Restrooms</h4>
                                                <p>Are an area of special cleaning as well, besides be cleaned constantly day by day, they must be deep cleaned at least once a month, it means we will take care of disinfect with the appropriated products, to offer a really tidy and hygienic space.</p>
                                            </div>
                                           
                                        </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->
