        <!-- Page Title -->
        <section class="page-title style-two centred" style="background-image: url(assets/assetspenguins/images/background/about-1.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>House Cleaning</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>Services</li>
                        <li>House Cleaning</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- about-service -->
        <section class="about-service">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-6 col-sm-12 content-column">
                        <div class="content_block_15">
                            <div class="content-box">
                                <div class="sec-title text-center">
                                    <h6>About Service</h6>
                                    <h2>House cleaning</h2>
                                </div>
                                <div class="text">
                                    <p>We offer several packages according to your specific and detailed needs. We are able to clean each place of your house that you need to make you feel sure you are living in a healthy and clean environment. Remove that stress from your life and contact us to provide you the better and most effective cleaning services to your favorite place.</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- about-service end -->


        <!-- service-style-two -->
        <section class="service-style-two service-page sec-pad bg-color-6">
            <div class="line-box">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
                <span class="line line-4"></span>
                <span class="line line-5"></span>
            </div>
            <div class="auto-container">
                <div class="sec-title text-left">
                    <h6>Our Service Area</h6>
                    <h2>Disinfecting & Sanitizing For</h2>
                </div>
                <div class="service-carousel-2 owl-carousel owl-theme owl-dots-none nav-style-one">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/assetspenguins/images/service/service-2.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-home"></i></div>
                                <h4>DETAILED CLEANING</h4>
                                <p>Your home needs special attention at details cleaning, that’s why we have the best work team to you get the best results. We will make sure of clean and disinfect each detailed place you need at your home to you feel sure your environment is free of germs and bacteria.</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="service-block-one mt-30">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/assetspenguins/images/service/movie1.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-cleaning"></i></div>
                                <h4>MOVE OUT CLEANING</h4>
                                <p>If you’re moving, needs of leave your old home clean and in good conditions are high if you will have a move out inspection, that’s why we are to help you with those tasks to you get focus on your other tasks.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/assetspenguins/images/service/movie2.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-cleaning"></i></div>
                                <h4>MOVE IN CLEANING</h4>
                                <p>If you just arrived at a new home, our team will cover all of your cleaning needs, from carpet vacuuming to mop floors, sanitization and disinfection in bathrooms, deep and detailed kitchen to you made your meals in optimal conditions. We will even clean areas that you wont figure out that were dirty.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="service-block-one mt-30">
                        <div class="inner-box">
                            <figure class="image-box"><img src="assets/assetspenguins/images/service/service-8.jpg" alt=""></figure>
                            <div class="lower-content">
                                <div class="icon-box"><i class="flaticon-virus"></i></div>
                                <h4>CLEANING DUE TO COVID-19</h4>
                                <p>We are taking great measures to equip our work team with special artefacts in case you need a special cleaning for COVID-19, these artefacts includes face masks, eye protector, gloves, to be able to clean, disinfect and sanitize all of your home areas, with xtreme caution.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-style-two end -->


        <!-- pricing-section -->
        <section class="pricing-section">
            <div class="auto-container">
                <div class="row clearfix">
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 pricing-column">
                        <div class="pricing-inner">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                    <div class="pricing-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <div class="pricing-table">
                                            <div class="table-header">
                                                <h3>Basic Plan</h3>
                                                <a routerLink="../quote">Get Started</a>
                                            </div>
                                            <div class="table-content">
                                                <ul class="list clearfix">
                                                    <li>Kitchen</li>
                                                    <li>Dinning room and living room</li>
                                                    <li>1 and half Washrooms</li>
                                                    <li> 1 Bedroom</li>
                                                    <li>2-3 hours service</li>
                                                </ul>
                                            </div>

                                            <div class="table-footer">
                                                <h2><span>$</span>99.99 + HST Includes.</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                    <div class="pricing-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <div class="pricing-table">
                                            <div class="table-header">
                                                <h3>Medium house Plan</h3>
                                                
                                                <a routerLink="../quote">Get Started</a>
                                            </div>
                                            <div class="table-content">
                                                <ul class="list clearfix">
                                                    <li>Kitchen</li>
                                                    <li>Dinning room and living room</li>
                                                    <li> Family room</li>
                                                    <li> 2 Washrooms</li>
                                                    <li> 3 Bedrooms</li>
                                                    <li> 2-3 hours service</li>
                                                </ul>
                                            </div>
                                            <div class="table-footer">
                                                <h2><span>$</span>149.99 + HST Includes</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
                                    <div class="pricing-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <div class="pricing-table">
                                            <div class="table-header">
                                                <h3>Premium house Plan</h3>
                                                
                                                <a routerLink="../quote">Get Started</a>
                                            </div>
                                            <div class="table-content">
                                                <ul class="list clearfix">
                                                    <li>Kitchen</li>
                                                    <li>Dinning room and living room</li>
                                                    <li> Family room</li>
                                                    <li> 3 Washrooms</li>
                                                    <li> 4 Bedrooms</li>
                                                    <li> Garage cleaning</li>
                                                    <li> 4-5 hours service</li>
                                                </ul>
                                            </div>
                                            <div class="table-footer">
                                                <h2><span>$</span>199.99 + HST Includes</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing-section end -->


