
 <div >
            <!--Header section start-->
            <header class="header header-transparent header-sticky d-lg-block d-none">
                <div class="header-bottom menu-right">
                    <div class="container">
                        <div class="row">
                            <!--Menu start-->
                            <div class=" d-flex">
                                <nav class="main-menu main-menu-two">
                                    <ul [hidden]="!router.url.includes('/checkout') ">
                                        <li><a href="#">Cancel</a>
                                        </li>
                                      
                                    </ul>  
                                    <ul [hidden]="router.url.includes('/checkout')    ">
                                        <li><a routerLink="">Home</a>
                                        </li>
                                       <li><a >About</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="company">Company</a></li>
                                                <li><a routerLink="prjts">Projects</a></li>
                                            </ul>
                                        </li>   
                                        <li><a>Services</a>
                                            <ul class="sub-menu">
                                                <li ><a routerLink="house">House</a></li>
                                                <li><a routerLink="office">Offices</a></li>
                                                <li><a routerLink="events">Events</a></li>
                                                <li><a routerLink="commercial">Commercial</a></li>
                                                <li><a routerLink="covid">COVID-19</a></li>
                                                <li><a routerLink="carpet">Carpet cleaning</a></li>
                                            </ul>
                                        </li>   
                                        <li><a routerLink="gallery">Gallery</a>
                                        </li>
                                        <li><a routerLink="contact">Contact</a>                              
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!--Menu end-->
                        </div>
                    </div>
                </div>
            </header>
            <!--Header section end-->

            <!--  mobile header area -->
            <div class="mobile-header-area d-block d-lg-none">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <!-- logo -->
                            <div class="logo">
                                <a routerLink="" >
                                    <img src="assets/assetsmenu/images/logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-end">
                            
                            <!-- mobile menu -->
                            <div class="mobile-navigation-icon" id="mobile-menu-trigger">
                                <i></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End of mobile header area -->

            <!-- offcanvas mobile menu -->
            <div class="offcanvas-mobile-menu d-block d-lg-none" id="mobile-menu-overlay">
                <a href="javascript:void(0)" class="offcanvas-menu-close" id="mobile-menu-close-trigger">
                    <i class="fa fa-times"></i>
                </a>
                <div class="offcanvas-wrapper">
                    <div class="offcanvas-inner-content">                 
                         <nav class="offcanvas-navigation">
                            <ul [hidden]="router.url.includes('/checkout') ">
                                <li class="menu-item-has-children">
                                    <a routerLink="">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a>About</a>
                                    <ul class="submenu2">
                                        <li class="tag-new"><a routerLink="company">Company</a></li>
                                        <li><a routerLink="prjts">Projects</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a >Services</a>
                                    <ul class="submenu2">
                                        <li><a routerLink="house">House</a></li>
                                        <li><a routerLink="office">Offices</a></li>
                                        <li><a routerLink="events">Events</a></li>
                                        <li><a routerLink="commercial">Commercial</a></li>
                                        <li><a routerLink="covid">COVID-19</a></li>
                                        <li><a routerLink="carpet">Carpet Cleaning</a></li>
                                    </ul>
                                </li>                           
                                <li class="menu-item-has-children">
                                    <a routerLink="gallery">Gallery</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a routerLink="contact">Contact</a>
                                </li>
                            </ul>
 <ul [hidden]="!router.url.includes('/checkout')  ">
                                <li class="menu-item-has-children">
                                    <a href="#">Cancel</a>
                                </li>
                               
                            </ul>

                        </nav>
                        <div class="offcanvas-widget-area">
                        <!--     <div class="off-canvas-contact-widget">
                                <div class="header-contact-info">
                                    <ul class="header-contact-info__list">
                                        <li><i class="ion-android-phone-portrait"></i> <a href="tel://+5492974194480">+54 9 297 419 4480</a></li>
                                        <li><i class="ion-android-mail"></i> <a href="#">Argentina</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <!--Off Canvas Widget Social Start-->
                            <div class="off-canvas-widget-social">
                                <a href="https://www.facebook.com/Penguins-Cleaning-Service-106602107768271" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/penguinscleaningservice/" target="_blank"title="Twitter"><i class="fa fa-instagram"></i></a>
                            </div>
                            <!--Off Canvas Widget Social End-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of offcanvas mobile menu -->
        </div>