
        <!-- Page Title -->
        <section class="page-title style-two centred" style="background-image: url(assets/assetspenguins/images/background/carpet-clean.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Carpet Cleaning</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a routerLink="">Home</a></li>
                        <li>Services</li>
                        <li>Carpet Cleaning</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- about-service -->
        <section class="about-service">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-6 col-sm-12 content-column">
                        <div class="content_block_15">
                            <div class="content-box">
                                <div class="sec-title text-center">
                                    <h6>About Service</h6>
                                    <h2>CARPET CLEANING</h2>
                                </div>
                                <div class="text">
                                    <p>Toronto’s best carpets cleaners for residential and commercial Carpet is the main focus to your home or office when guest arrive and it should be cared for often to maintain a positive influence on your guest. Let us help you give a Great first impression by cleaning your carpets and making them look like new again.</p>
                                </div>
                                <ul class="list-item clearfix">
                                    <li>SPOT</li>
                                    <li>STAIN</li>
                                    <li>DIRT REMOVAL</li>
                                </ul>
                                <div class="text">
                                    <p>
                                        Special shampoos and rinses our technicians are well trained and knowledgeable.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- about-service end -->
